<section id="header_checker">
  <h/1>All Mechanics</h1>
  <h/1><%="have " + "#{@mechanics.average_years_experience.round(2)}" + " average years experience"%></h1>
</section>

<%@mechanics.each do |mechanic|%>
  <section id="mechanic_details-<%=mechanic.id%>">
    <%=mechanic.name%><br>
    <%=mechanic.years_experience%>
  </section>
<%end%>
